.projects {
    display: flex;
    flex-wrap: wrap;
}
.project {
    width: 80%;
    margin: 15px;
    padding: 10px 15px;
    background: gold;
}
.project img {
    margin: 10px;
    border: 2px solid royalblue;
    display: block;
    margin: auto;
}
.project p, h3 {
    text-align: center;
    margin: 15px;
}
a {
    text-decoration: none;
    color: royalblue;
}
body {
    background: aqua;
    font-family: Calibri, Trebuchet MS, sans-serif;
    margin: 20px
}
p {
    color: rebeccapurple;
    font-family: Verdana;
    font-size: 15px;
}
h1 {
    color: midnightblue;
    text-align: center;
    font-weight: bold;
}
h2 {
    color: midnightblue;
    font-style: italic;
    font-size: 25px;
    text-decoration: underline;
}
